body {
    font-family: 'Istok Web', sans-serif;


    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

ol li {
    list-style: none;
}

a {
    text-decoration: none;
}

.continer {
    width: 1200px;
    margin: auto;
}

.top-header-background {
    background: #232434;
    padding: 10px 0;
}
.header-background{
    background: #fff;

}
.fixed-header{
    position: fixed;
    left: 0;top: 0;
    width: 100%;
    z-index: 9;
    background: #000;
}
.fixed-header .header .logo a .logo-two{
display: block;
}
.logo-two{
display: none;
}
.fixed-header .header .menu ul li a .black-icon{
display: none;
}
.fixed-header .header .menu ul li a .white-icon{
display: block;
}
.white-icon{
display: none;
}
.fixed-header .header .logo a .logo-one{
display: none;
}
.fixed-header .header .menu >ul >li >a{
color: #fff;
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address ul {
    display: flex;
    align-items: center;
}

.social-icon ul {
    display: flex;
    align-items: center;
}

.social-icon ul li img {
    width: 20px;
}

.social-icon ul li:last-child img {
    width: 25px;
}

.social-icon ul li {
    padding: 0 10px;
}

.social-icon ul li:last-child {
    padding-right: 0;
}

.address ul li img {
    width: 15px;
}

.address ul li a {
    padding-right: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    width: 130px;
    max-height: 50px;
}

.menu > ul {
    display: flex;
    align-items: center;
}

.menu>ul>li>a {
    padding: 30px 20px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    transition: 0.5s ease all;
}

.menu>ul>li:hover>a {
    color: #F9B508;
}

.menu ul li {
    position: relative;
}

.menu ul li ul {
    
    position: absolute;
    left: 0;
    padding: 5px 0;
    top: 53px;
    background: #fff;
    width: 250px;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    border-top: 2px solid #F9B508;
    transition: 0.5s all ease;
transform: translateY(5%);
transition: transform .4s, opacity .1s;
}

.menu ul li ul li a {
    display: block;
    padding: 11px 15px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 16px;
    color: #878787;
    transition: 0.5s all ease;
}

.menu ul li ul li a:hover {
    background: #F9B508;
    border-color: #F9B508;
    color: #fff;
    
}

.menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: rotatex(0);
}

.hamburger{
    display: none;
}

.slider-background {
    background: url(../image/slider.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    height:calc( 100vh - 100px);
    color: #fff;
    position: relative;
}

.slider {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.slider-text{
    position: relative;
    left: 0;
    top: 50%;
    width: 60%;
}



.slider-text span {
    font-size: 20px;
}

/* .slider-text h1 {
    font-size: 66px;
    width: 70%;
    line-height: 60px;
    padding: 10px 0;

} */
.slider-text h1{
    padding: 20px 0 10px;
    width: 90%;
}

.animate .animatiom {
	font-size: 60px;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    line-height: 60px
}

.animate span {
	display: inline-block;
}


.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}
.animate span:nth-of-type(21) {
	animation-delay: .99s;
}




/* Animation Six */


.six span {
	color: #000;
	opacity: 0;
	transform: rotate(-180deg) translate(150px, 0);
	animation: twister .5s forwards;
}


@keyframes twister {
	10% {
		opacity: 1;
	}
	100% {
		transform: rotate(0deg) translate(0);
		opacity: 1;
	}
}





.slider-text p {
    font-size: 18px;
    width: 80%;
    line-height: 30px;
}

.slider-right-img {
    position: relative;
    bottom:0px;
    right: 0;
    width: 50%;
    height: 520px;

}

.slider-right-img img {
    display: block;
    width: 100%;
}

.slider-background .main-slider .prev-arrow{
    position: absolute;
    left: 0;
    top: 460px;
    background: #F9B508;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease;
    cursor: pointer;
border-radius: 5px;
}
.slider-background .main-slider .prev-arrow img{
    width: 15px;
}
.slider-background .main-slider .prev-arrow:hover{
    background-color: #000;
}
.slider-background .main-slider .next-arrow{
    position: absolute;
    left: 70px;
    top: 460px;
    background: #F9B508;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s all ease;
border-radius: 5px;
}
.slider-background .main-slider .next-arrow:hover{
    background-color: #000;
}
.slider-background .main-slider .next-arrow img{
    width: 15px;
}
.slider-text a {
    background: #F9B508;
    padding: 17px 35px;
    display: inline-block;
    margin-top: 20px;
    color: #000000;
    font-size: 15px;
    transition: 0.5s ease all;
}

.slider-text a:hover {
    color: #F9B508;
    background: #fff;
}




.services {
    background: #F9F9F9;
    padding: 100px 0;
    color: #fff;
}

.services ul {
    display: flex;

}

.services ul li {
    background: #33354B;
}

.services ul li:nth-child(2) {
    background: #232434;
}

.trusted {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 33.33%;
}

.trusted-text h3 {
    font-weight: 500;
    font-size: 22px;
}

.trusted-text {
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
}

.trusted-img img {
    display: block;
    width: 70px;
}

.bringing {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  
}
.bringing ul::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #eceff8;
    width: 100%;
    height: 1px;
}
.bringing-img img {
    display: block;
    width: 100%;
}

.bringing-img {
    width: 45%;
}

.bringing-text {
    width: 45%;
}

.bringing-text span {
    font-weight: 500;
    font-size: 20px;
}

.bringing-text h2 {
    font-size: 45px;
    line-height: 50px;
    padding: 10px 0 20px;
    font-family: 'Rajdhani', sans-serif;

}

.bringing-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #878787;
}

.bringing ul {
    display: flex;
    padding-bottom: 20px;
    position: relative;
}

.bringing ul li {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.certified-img img {
    display: block;
    width: 30px;
}

.certified-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding-left: 20px;
    color: #939393;
}

.certified-text h3 {
    color: #000000;
    padding-bottom: 5px;
}

.signature {
    display: flex;
    padding-top: 30px;
    align-items: center;
   
}


.signature-img img {
    display: block;
    width: 130px;
}

.nur-islam {
    margin-left: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #939393;
    position: relative;
}
.nur-islam::before{
    content: "";
    width: 40px;
    height: 2px;
    background: #a6a6a6;
    position: absolute;
    left: -50px;
    top: 15px;
}

.nur-islam h3 {
    color: #000000;
}

.company {
    background: url(../image/company-backgroung.png) no-repeat;
    width: 100%;
    background-size: cover;
    color: #fff;
    padding: 100px 0 120px;
    margin-top: 100px;
}

.company-text {
  justify-content: space-between;
  align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.company-text span {
    color: #F9B508;
    font-weight: 500;
    font-size: 20px;
}

.company-text h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    padding: 10px 0;
    font-family: 'Rajdhani', sans-serif;
    width: 80%;
}

.company-text>p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    width: 60%;
}

.company ul {
    display: flex;
    justify-content: space-between;

}

.company ul li {
    width: calc(25% - 15px) ;
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s ease all;
}


.company-text ul li p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #878787;


}
.dote-img{
    position: absolute;
    top: 10px;
    left: 70px;
    transition: 0.5s ease all;
}
.dote-img img{
width: 80px;

}
.dote-black-img{
    display: none;
}
.company ul li:hover .dote-black-img{
    display: block;
    
}
.company ul li:hover .dote-yellow-img{
    display: none;

}





.company-counting {
    font-weight: 500;
    font-size: 100px;
    color: #FEF6E0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 50px;
    transition: 0.5s ease all;
}
.company ul li:hover .company-counting{
color: #ffcd44;
}
.company-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-icon {
    width: 150px;
    height: 150px;
    background: #ffbb00;
    border-radius: 100px;
   transition: 0.5s all ease;
    position: absolute;
    top: -60px;
    left: -50px;
}
.company-icon{
    padding: 70px 0 0 60px;
}
.company ul li .company-icon .company-white-icon {
display: none;
}
.company ul li .company-icon img{
display: block;
    width: 50px;
    }


.secuirity {
    text-align: center;
    padding: 140px 0 50px 0;
}

.secuirity h3 {
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    padding-bottom: 10px;
}

.secuirity p {
    color: #878787;
    font-weight: 500;
    line-height: 25px;
    width: 65%;
    margin: auto;
}

.company-hover {
    background: #F9B508;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
}

.company ul li:hover .company-hover {
    opacity: 1;
    transform: translateY(0);
}

.company ul li:hover .company-icon {
    background: #fff;
}

.company ul li:hover .company-white-icon {
    display: block;
}

.company ul li:hover .company-yellow-icon {
    display: none;
}

.company ul li:hover h3 {
    color: #fff;
}

.company ul li:hover p {
    color: #fff;
}

.project-rank {
    background: #fff;
    margin-top: -90px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.project-rank ul {
    display: flex;
    justify-content: space-between;
}

.project-rank ul li {
    padding: 50px 20px;
    position: relative;
    
}
.project-rank ul li::after{
position: absolute;
height: 15px;
width: 2px;
content: '';
top: 50%;
right: -45%;
background: #F9B508;

}
.project-rank ul li:last-child:after{
    display: none;
}
.project-rank ul li:last-child::after{
    border-right: none;
}

.project-rank ul li h3 {
    font-size: 50px;
    font-weight: 700;
}

.project-rank ul li span {
    color: #F9B508;
}
.project-rank ul li p {
    font-size: 20px;
    font-weight: 700;
}

.provide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.provide-text span {
    font-weight: 500;
    font-size: 20px;
    color: #F9B508;
}

.provide-text h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    width: 59%;
    padding: 10px 0 20px;
    font-family: 'Rajdhani', sans-serif;
}

.provide-btn a {
    background: #F9B508;
    padding: 20px 35px;
    color: #000;
    font-size: 15px;
    transition: 0.5s ease all;
    display: inline-block;
}

.provide-btn a:hover {
    background: #000;
    color: #F9B508;
}

.provide-course ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.provide-course ul li {
    background: #fff;
    border: 1px solid #EBEBEB;
    width:calc(33% - 10px);
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.provide-course ul li h3 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;
    transition: 0.5s all ease;

}
.provide-course ul li h3:hover{
    color: #F9B508;
}
.provide-course ul li p {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    color: #5E5E5E;
}

.provide-icon {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background: #ffbb00;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -45px;
    top: -45px;
}
.provide-icon img{
padding: 30px 30px 0 0;
}

.provide-course ul li:hover {
    box-shadow: 0px -8px 17px 3px #EBEBEB;
}

.provide-course ul li img {
    width: 75px;
}

.provide-course ul li .provide-white-icon {
    display: none;
}

.provide-course ul li:hover .provide-white-icon {
    display: block;
}

.provide-course ul li:hover .provide-yellow-icon {
    display: none;
}

.technology {
    background: url(../image/technology-img.png);
    width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0 150px;
    margin-top: 100px;
}

.technology-icon {



}

@keyframes waves {
    0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
  
  
  .waves {

    position: absolute;
    width: 150px;
    height: 150px;
    background: rgb(249, 181, 8);
    opacity: 0;
    border-radius: 100%;
    left:  600px;
    top: 33px;
    z-index: -1;
     -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
  }
          
  .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }


.technology-text span {
    font-weight: 500;
    font-size: 20px;
    color: #ffbb00;

}

.technology-text h2 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    padding-bottom: 40px;
    font-family: 'Rajdhani', sans-serif;
}

.technology-text {
    margin-top: 40px;
}

.technology-text ul {
    display: flex;
    justify-content: space-between;
}

.technology-text ul li {
    border: 1px solid #656C73;
    width: 15.2%;
    padding: 25px 0;
    transition: 0.5s ease all;
    margin-bottom: 50px;
}

.technology-text ul li img {
    width: 45px;

}

.technology-text ul li h4 {
    font-size: 20px;
    padding-top: 10px;
}

.technology-text ul li:hover {
    background: #F9B508;
    border-color:#F9B508;
}

.need {
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: -120px;
    position: relative;
}

.need-text h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    padding-bottom: 20px;
}

.need-text p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #5E5E5E;
    width: 60%;
}

.need-btn a {
    background: #ffbb00;
    padding: 20px 35px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s ease all;
    display: inline-block;
}

.need-btn a:hover {
    background: #000;
    color: #F9B508;
}

.stuidies {
    text-align: center;
    margin-top: 100px;
    overflow: hidden;
}

.stuidies span {
    font-weight: 600;
    font-size: 20px;
    color: #F9B508;
}

.stuidies h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    padding-bottom: 40px;
}

.stuidies > ul {
    display: flex ;
    justify-content: space-between;
    margin: 0 -10px;
}

.stuidies > ul li {
    
    transition: 0.5s ease all;
    margin:0 10px 130px;
    }

.stuidies-img>img {
    width: 100%;
    height: 300px;
    display: block;
}
.stuidies-img{
    width: 100%;
}
.stuidies-app {
    background: #fff;
    text-align: left;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 60px);
    margin: -60px 30px 0;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;
    transform: translateY(25%);
transition: transform .4s, opacity .1s;
}

.stuidies-app-text {
    padding: 0 20px;
}

.stuidies-app-text h3 {
    font-weight: 700;
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;

}

.stuidies-app-text p {
    color: #5E5E5E;
    font-size: 16px;
}

.stuidies-app-icon {
    background: #000;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    transition: 0.5s ease all;
    justify-content: center;
}
.stuidies-app-icon img{
    display: block;
}
.stuidies ul li:hover .stuidies-app {
    transform: rotatex(0);
}

.stuidies ul li:hover .stuidies-app-icon {
    background: #F9B508;
}

.stuidies ul li:hover .stuidies-black-arrow {
    display: block;
}

.stuidies ul li:hover .stuidies-white-arrow {
    display: none;
}

.stuidies-app-icon .stuidies-black-arrow {
    display: none;
}

/* .cri ol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cri ol li {
    background: #FFEBB5;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin: 100px 5px;

}

.cri ol li:last-child {
    background: #ffbb00;
    width: 22px;
    height: 22px;

} */

.client {
    background-image: url(../image/pattern.png);
    background-repeat: repeat;
    width: 100%;
    margin-top: 80px;
}

.client-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.client-technology{
    width: 55%;
}
.client-technology span {
    font-weight: 600;
    font-size: 20px;

    color: #F9B508;
}

.client-technology h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px 0 20px;
    width: 66%;
}

.client-technology p {
    font-size: 17px;
    color: #5E5E5E;
    width: 80%;
    line-height: 30px;
}

.client-icon ul li {
    width: 33%;
    padding: 50px;
    border-right: 1px solid #DFE2E4;
    border-bottom: 1px solid #DFE2E4;
}

.client-icon ul li:last-child {
    border: none;
}

.client-icon ul li:nth-child(3) {
    border-right: none
}

.client-icon ul li:nth-child(4) {
    border-bottom: none;
}
.client-icon ul li:nth-child(5) {
    border-bottom: none;
}

.client-icon ul li img {
    width: 70px;
    display: block;
}

.client-icon ul {
    display: flex;
    flex-wrap: wrap;
}

.client-icon {
    width: 45%;
}

.client-img {
    width: 100%;
    padding-top: 20px;
}

.client-img img {
    display: block;
    width: 350px;
}

.review {
    background: url(../image/review-img.png) no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.review span {
    font-weight: 500;
    font-size: 20px;
    color: #F9B508;
}

.review h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 10px 0 40px;
    width: 45%;
    font-family: 'Rajdhani', sans-serif;
    margin: auto;
}

.review ul {
    display: flex;
    justify-content: space-between;
}

.review ul li {
    background: #232434;
    width:50% ;
    text-align: left;
    margin:0 15px;
    padding: 40px 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.review .review-slider .prev-arrow img{
    width: 20px;
}
.review .review-slider .prev-arrow{
    border: 1px solid #FFF;
    height: 40px;
    cursor: pointer;
    width: 40px;
    z-index: 1;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease;
}
.review .review-slider .prev-arrow:hover{
    background: #F9B508;
    border-color: #F9B508;
}
.review .review-slider .next-arrow img{
    width: 20px;
}
.review .review-slider .next-arrow{
    border: 1px solid #FFF;
    height: 40px;
    width: 40px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    right: -40px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease;
}
.review .review-slider .next-arrow:hover{
    background: #F9B508;
    border-color: #F9B508;
}



.review ul li>p {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

.review-people-img img {
    width: 100px;
    display: block;
}

.review-people {
    display: flex;
    margin-top: 20px;
    align-items: center;

}

.review-people-text {

    padding-left: 20px;
}

.review-people-text p {
    padding-top: 10px;
    color: #FB0;
    font-size: 20px;
    font-weight: 400;

}

.review-people-text h3 {
    font-size: 25px;
    font-weight: 500;

}

.review-icon {
    background: #1F202D;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -40px;
    bottom: -40px;
}

.review-icon img {
    display: block;
    width: 50px;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 30px;
}

.blog-text span {
    font-weight: 600;
    font-size: 20px;
    color: #F9B508;
}

.blog-text h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
padding-bottom: 10px;
}

.blog-btn a {
    background: #FB0;
    color: #000;
    padding: 20px 35px;
    transition: 0.5s all ease;
    display: inline-block;
}

.blog-btn:hover a {
    background: #000;
    color: #F9B508;
}

.blog-post ul {
    display: flex;
    justify-content: space-between;
}

.blog-post ul li {
    width: calc(33% - 40px);
    margin:  20px;
    box-shadow: 0px 0px 5px 4px #F7F7F7;
}

.blog-img {
    position: relative;

}

.blog-img>img {
    display: block;
    width: 100%;
}

.blog-date {
    background: #1F202D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    padding: 10px 20px;
    position: absolute;
    bottom: -7%;
    left: 10%;
}

.blog-date img {
    display: block;
    width: 15px;
}

.blog-post li:hover .blog-date {
    background: #F9B508;
    transition: 0.5s all ease;
}

.blog-anytime {
    padding: 40px 30px 30px;
}

.blog-post {
    color: #8D8D8D;
    font-size: 15px;
    font-weight: 400;
}

.blog-post a {
    color: #F9B508;
    display: flex;
    align-items: center;
}

.human img {
    width: 27px;
    height: 17px;
    padding-right: 10px;
}
.human{
    display: flex
}
.blog-anytime h3 {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0;
cursor: pointer;
    line-height: 30px;
    transition: 0.5s all ease;
}

.blog-anytime h3:hover {
    color: #F9B508;
}



.blog-anytime a img {
    width: 26px;
    padding-left: 10px;
}

.blog-box {
    position: absolute;
    left: -20px;
    top: -20px;
    background: #D3D3D6;
    height: 150px;
    width: 150px;
    z-index: -1;
    transition: 0.5s all ease;
}

.blog-post ul li:hover .blog-box {
    background: #F9B508;
}
.newsletter-background{
    background: #ffbb00;
    margin-top: 100px;
    padding: 50px;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter-btn input{
    padding: 15px ;
    border: 0;
    background: #E8E8E8;
    width: 400px;
    color: #5E5E5E;
font-size: 17px;
font-weight: 400;
outline: none;
}
.newsletter-btn input::placeholder{
    color: #a6a6a6;
}
.newsletter-btn{
    position: relative;
}
.subscrib-btn a{
background: #000;
padding: 12px 20px;
color: #fff;
font-size: 20px;
font-weight: 400;
position: absolute;
right: 0;
top: 0;
height: 100%;
border: 2px solid #000;
transition: 0.5s all ease;

}
.subscrib-btn a:hover{
    background: #FB0;
    border-color: #fff;
    box-shadow:  0px 10px 20px 0px rgba(0,0,0,0.15);
}
.newsletter-text h2{
font-size: 45px;
font-family: 'Rajdhani', sans-serif;
font-weight: 700;
}
.newsletter-text p{
    font-size: 15px;
    font-weight: 500;
}
.futter-background{
    background: #232434;
    color: #fff;
    padding: 100px 0;
}
.futter-text{
    display: flex;
    justify-content: space-between
    ;
}
.first-panel{
    width: 20%;
}
.first-panel img{
    width: 130px;
    display: block;
}
.first-panel p{
    color: #D9D9D9;
font-size: 16px;
font-weight: 400;
line-height: 25px;
padding-top: 30px;
}
.quick-link h3{
    font-size: 25px;
    padding-bottom: 30px;
font-weight: 500;
}
.quick-link ul li{
    line-height: 40px;
    font-size: 16px;
    margin-left: 20px;
font-weight: 500;
position: relative;
}
.quick-link ul li:first-child a{
    color: #FB0;
}
.quick-link ul li a{
    color: #fff;
}
.quick-link ul li::after{
    border-radius: 15px;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    background: #F9B508;
    content: "";
}
.important-links h3{
    font-size: 25px;
    padding-bottom: 30px;
font-weight: 500;
}
.important-links ul li{
    line-height: 40px;
    margin-left: 20px;
    font-size: 16px;
font-weight: 500;
position: relative;
}
.important-links ul li:first-child a{
    color: #F9B508;
}
.important-links ul li a{
    color: #fff;
}
.important-links ul li::after{
    border-radius: 15px;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    background: #F9B508;
    content: "";
}
.our-contact h3{
    font-size: 25px;
    padding-bottom: 30px;
    font-weight: 500;
}

.our-contact ul li{
    display: flex;
    padding-bottom: 30px ;
    align-items: center;
} 
.our-contact ul li img{
width: 15px;
}
.our-contact ul li:first-child img{
rotate: 90deg;
}
.futter-icon{
    background: #F9B508;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.futter-icon img{
    display: block;
    width: 15px;
}
.contact-text{
    padding-left: 10px;
    font-size: 16px;
font-weight: 500;
line-height: 30px;

}
.copy-right{
    background: #232434;
    padding: 20px 0;
    border-top: 1px solid #878787;
}
.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-right-text{
    color: #fff;
    font-size: 20px;
}
.copy-right-text span{
    color: #F9B508;
}
.about ul{
    display: flex;
}
.copy-right::before{

    width: 100%;
    height: 2px;
    background: #DFE2E4;
}
.about li a{
    padding:0 20px ;
    color: #fff;
}

@media screen and (max-width:767px) {
    .continer{
        width: 100%;
        padding:0 15px ;
    }
    .top-header-background{
        display: none;
    }
    .hamburger{
        display: block;
        
    }
    .fixed-header{
        display: none;
    }
    .hamburger img{
        width: 25px;
        display: block;
    }
    .menu{

        display: none ;
    }
    .menu ul {
  
        background: #f8f8f8;
        z-index: 99999;
        height: 100%;
        display: block;
        width: 75%;
        position: absolute;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: start;
       
    }
    
.menu ul li{
        padding: 10px 0;
        border-bottom:1px solid #939393 ;
        
    }
    .menu ul li a{
        color: #000;
    }


    .slider-background {
        height:auto;
    }
    .slider-text{
        padding: 100px 0;
    }
    .slider-text h1 {
        font-size: 35px;
        width: 66%;
        line-height: 43px;
    }
    .slider-text p {
        width: 89%;
        line-height: 25px;
    }
    .slider-right-img {
        display: none;
    }
    .slider-arrow{
        display: none;
    }
    .services ul {
        flex-direction: column;
    }
    .trusted {
     
        width: 100%;
    }
    .services li{
        margin-top: 20px;
    }
    .services li:first-child{
        margin-top: 0;
    }
    .bringing {
       flex-direction: column;
        margin-top: 50px;
    }
    .bringing-img {
        width: 100%;
    }
    .bringing-text h2 {
        font-size: 25px;
        line-height: 32px;
    }
.bringing-text{
    width: 100%;
    margin-top: 50px;
}
.bringing ul {
   flex-direction: column;
}
.company{
    margin-top: 50px;
    padding: 50px 0;
}
.company-text {
    width: 100%;
    flex-direction: column;
}
.company-text h2 {
    font-size: 25px;
    width: 47%;
    line-height: 35px;
}
.company-text>p {
    font-size: 17px;
    width: 100%;
}
.company ul{
    flex-direction: column;
}
.company ul li{
    width: 100%;
    margin:20px 0 0 0;

}
.company ul li:first-child{
    margin-top: 0;
}
.project-rank{
    margin-top: 50px;
    text-align: center;
}
.project-rank ul {
    flex-direction: column;
}
.project-rank ul li{
    margin: auto;
}
.provide-text h2 {
  
    font-size: 25px;
    line-height: 35px;
   width: 70%;
   position: 10px 0 20px 0;
}
.provide{
    flex-direction: column;
justify-content: start;
align-items: start;
}
.provide-course ul{
    flex-direction: column;
}
.provide-course ul li{
    width: 100%;
   margin: 20px 0 0 0;
}
.provide-course ul li h3 {
    font-size: 20px;
    padding-bottom: 15px;
}
.technology{
    padding-top: 50px;
    margin-top: 50px;
}
.technology-text h2 {
    font-size: 25px;
    line-height: 35px;
}
.technology-text ul{
    flex-wrap: wrap;
}
.technology-text ul li{
    width: calc(50% - 20px);
    border: 2px solid #fff;
background: #000;
    margin: 10px;
}
.need{
    margin-top: 50px;
    flex-direction: column;
    padding: 20px;
}
.need-text h2 {
    font-size: 25px;
}
.need-text p {
    width: 100%;
}
.stuidies{
    margin-top: 50px;
}
.stuidies h2 {
    font-size: 25px;
}
.stuidies span{
    font-size: 15px;
}
.stuidies ul{
    flex-direction: column;
}
.stuidies ul li{
    margin: 30px 0 ;
}
.stuidies ul li:first-child{
    margin: 0;
}
.cri ol li{
    margin: 50px 5px;
}
.client-text{
    padding: 50px 0;
  flex-direction: column;
}
.client-text .client-technology{
    width: 100%;
}

.client-technology span{
    font-size: 15px;
}
.client-technology h2 {
    font-size: 25px;
    width: 80%;
}
.client-technology p{
    width: 100%;

}
.client-img img{
    width: 250px;
}
.client-icon{
    width: 100%;
}
.client-icon ul{
   flex-wrap: wrap;
   justify-content: space-between;
}
.client-icon ul li {
    width: 50%;
    padding: 50px 0 0 0;
    border-right: 0;
    border-bottom:0;
  
}
.client-icon ul li img{
    margin: auto;
}
.review{
    padding: 50px 0;
}
.review span{
    font-size: 15px;
}
.review h2 {
    font-size: 25px;
    width: 80%;
   
}
.review ul{
    flex-direction: column;
}
.review ul li{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
.review ul li:first-child{
    margin-top: 0;
}
.review ul li>p{
    font-size: 17px;
}
.blog{
    padding-top:50px ;
    align-items: start;
    flex-direction: column;
}
.blog-text span{
    font-size: 15px;
}
.blog-text h2{
    font-size: 25px;
    line-height: 35px;
}
.blog-post ul{
    flex-direction: column;
}
.blog-post ul li{
    width: 80%;
    margin: auto;
  
}
.blog-post ul li{
    margin-top:60px;
  
}
.blog-anytime h3{
    font-size: 20px;
}
.blog-date{
    width: 65%;
}
.newsletter-background{
    margin-top: 50px;
    padding: 10px;
}
.newsletter{
    flex-direction: column;
    align-items: start;
}
.newsletter-btn{

    margin-top: 20px;
}
.newsletter-btn input{
    width: 350px;
}
.newsletter-text h2 {
    font-size: 25px;
}
.futter-background{
    padding: 50px 0;
}
.futter-text{
    flex-direction: column;
}
.first-panel{
    width: 60%;
}
.quick-link{
    margin-top: 50px;
}
.important-links{
    margin-top: 50px;
}
.copy{
    flex-direction: column;
    margin: auto;
    align-items: start;
}
.our-contact{
    margin-top: 50px;
}
.about ul li:first-child a{
padding-left: 0;
}

}





.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/*end of  rollIn animation*/
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        pacity: 0;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0)
    }

 
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        pacity: 0;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0)
    }

    
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeIn.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fadeIn.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fadeIn.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.fadeIn.four {
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

/* Arrow animation */
.mouse-container {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 50px;
    display: none;
    height: 30px;
    font-size: 10px;
    color: #fff;
    font-family: "open_sansregular";
    text-transform: uppercase;
}

.mouse span.scroll-down {
    display: block;
    width: 24px;
    height: 24px;
    background: url("/static/home/images/down-arrow.png") no-repeat center;
    border-radius: 50%;
    margin: 15% auto auto auto;
    -webkit-animation: scroll-inner 1.2s;
    animation: scroll-inner 1.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease
}

@-webkit-keyframes scroll-inner {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 50%;
    }
}

@keyframes scroll-inner {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 50%;
    }
}

@-webkit-keyframes scroll-mouse {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 15px;
    }
}

@keyframes scroll-mouse {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 15px;
    }
}